@charset "utf-8";

/*
 * Sass Variable
 */

/* Path ---------------------------------------------------------- */

$imagespath : "../images/";
$spritepath : "../images/homesprite.png";



/* Color ---------------------------------------------------------- */

$yellow: #fff164;
$green:  #71be9c;
$gray:   #888888;
$black:  #1a1a1a;


// animation


/* Font ---------------------------------------------------------- */

$title-font: normal 36px/48px Microsoft Jhenghei, Microsoft Yahei, Arial, sans-serif;
$tree-font: normal 24px/36px Microsoft Jhenghei, Microsoft Yahei, Arial, sans-serif;

/* Layout ---------------------------------------------------------- */

// header

// container

// footer
